<div class="">
  <form>
  
    <div class="name-input">
      <input type="text" id="name" name="name" placeholder="Enter the name"/>
    </div>
  
    <div class="description-input">
      <input type="text" id="description" name="description" placeholder="Enter the description"/>
    </div>
  
   <!-- <div class="picture-input">
      <input type="file" id="picture" name="picture"/>
    </div> -->
  
  
    <div class="submit-button">
      <button type="submit">Accept</button>
    </div>
  
  </form>
</div>

